<template>
  <div>
    <BuzzTvHeader :enableBackButton="false" title="Assigned Successfuly" />
    <form class="form-buzz" style="padding-top: 20px">
      <div style="padding-top: 20px">
        <p class="location-label-buzz">
          <font-awesome-icon icon="map-marker-alt" size="sm" />
          {{ this.roomName(this.selected_room) }}
        </p>
        <p class="location-label-buzz">
          <font-awesome-icon icon="keyboard" size="sm" />
          <b> {{ this.selected_sensor.type + "/" + this.selected_sensor.desc }}</b>
        </p>

        <label class="sensor-label-buzz">{{ this.selected_sensor.type }} id:</label><br />
        <input class="input-buzz" :value="this.selected_sensor.device_code" type="text" readonly />
        <div style="padding-top: 20px">
          <label style="text-align: center; letter-spacing: -0.22px; color: #A5A4BF; opacity: 1;">
            The device has been successfuly assigned
          </label>
          <div style="padding-top: 40px">
            <button type="button" class="button-buzz fetch-button-buzz" @click="goHome">
              <font-awesome-icon icon="home" size="lg" />
            </button>
            <button type="button" class="button-buzz fetch-button-buzz"  style="margin-left: 20px;" @click="sensorAdd">
              <font-awesome-icon icon="map-marker-alt" size="lg" />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import BuzzTvHeader from "../components/BuzzTvHeader";
import { roomName } from "../entry_manipulation";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "AssignedSuccess",
  components: { BuzzTvHeader },
  computed: mapGetters(["getFilteredItems", "getFromStorage"]),
  data() {
    return { selected_room: null, selected_sensor: null,  };
  },
  methods: {
    ...mapActions(["resetSelections"]),
    roomName,
    goHome() {
      this.resetSelections();
      this.$router.push("/filter_page");
    },
    sensorAdd() {
      this.$router.push("/select_sensor");
    },
    validateMac(){

    }
  },
  created() {
    this.selected_room = this.getFromStorage("selected_room");
    this.selected_sensor = this.getFromStorage("selected_sensor");
  }
};
</script>
