<template>
  <div>
    <BuzzTvHeader :enableBackButton="true" v-bind:backButtonCallback="backButtonClick" title="Error" />
    <h1 class="sensor-label-buzz" style="padding: 40px">An error occured</h1>
  </div>
</template>
<script>
import BuzzTvHeader from "../components/BuzzTvHeader";

export default {
  name: "Error",
  components: { BuzzTvHeader },
  props: {
  },
  methods: {
    backButtonClick() {
      this.$router.push("/");
    }
  }
};
</script>
