<template>
  <div>
    <BuzzTvHeader title="Select Room" />
    <form class="form-buzz">
      <DynamicSelector
        :filter_fields="filter_fields"
        :enable_reset="true"
        @item_selected="roomSelected"
      :display_fields="['site_name', 'display_name']"
      />
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import BuzzTvHeader from "../components/BuzzTvHeader";
import DynamicSelector from "../components/DynamicSelector";

import fetcher from "../modules/common/services/dataFetchService";

export default {
  name: "SelectSite",
  components: { BuzzTvHeader, DynamicSelector },
  computed: mapGetters(["getFilteredItems"]),
  data() {
    return {
      filter_fields: [
        {
          field_key: "site_id",
          field_display: "site_name",
          title: "Site"
        },
        {
          field_key: "building",
          field_display: "building",
          title: "Building"
        },
        {
          field_key: "floor",
          field_display: "floor",
          title: "Floor"
        },
        {
          field_key: "zone",
          field_display: "zone",
          title: "Zone"
        },
        {
          field_key: "gender",
          field_display: "gender",
          title: "Gender"
        },
        {
          field_key: "id",
          field_display: "display_name",
          title: "Room"
        }
      ]
    };
  },
  methods: {
    ...mapActions(["fetchData", "updateFieldFilter", "saveToStorage"]),
    roomSelected(selected) {
      this.updateFieldFilter(["id", selected.id]);
      this.saveToStorage(["selected_room", selected]);
      this.$router.push("select_sensor");
    }
  },
  async created() {
    this.saveToStorage(["selected_room", null]);
    const rooms = await fetcher.getSiteRoomsTable();
    this.fetchData(rooms);
  }
};
</script>

<style scoped></style>
