<template>
  <div>
    <BuzzTvHeader v-bind:enableLogout="false" title="Login Page" />
    <form class="form-buzz" style="padding-top: 100px;">
      <div class="form-group">
        <img class="imguser" src="../assets/icon_user.svg" /> User
        <input class="input-buzz" v-model="email" type="text" placeholder="User name here" />
      </div>

      <div class="form-group">
        <img class="imgpass" src="../assets/icon_password.svg" /> Password
        <input class="input-buzz" v-model="password" type="password" placeholder="Password here" />
      </div>
      <div class="text-center" style="padding-top: 20px">
        <button type="submit" class="form__label button-buzz" :class="{ 'form-group--error': this.last_error != null }" @click="try_login">
          <b>Login</b>
        </button>
        <div class="error" v-if="this.last_error != null" style="padding-top:60px">{{this.last_error}}</div>
      </div>
    </form>
  </div>
</template>

<script>
import BuzzTvHeader from "../components/BuzzTvHeader";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Login",
  components: { BuzzTvHeader },
  computed: mapGetters(["authErrorMsg"]),

  data() {
    return { email: null, password: null, last_error: null };
  },
  methods: {
    ...mapActions(["login"]),

    async try_login() {
      this.last_error = null;
      const credentials = { email: this.email, password: this.password };
    
      const user = await this.$store.dispatch({ type: "login", credentials });

      if (user) this.$router.push("/filter_page");
      else {
        this.last_error = this.authErrorMsg;
      }
    }
  }
};
</script>
<style scoped>
</style>
