<template>
  <div>
    <BuzzTvHeader v-bind:enableBackButton="true" :backButtonCallback="gotoSensorAdd" title="QR Scanner" />
    <qrcode-stream @decode="onDecode" @init="onInit" />
  </div>
</template>

<script>
import BuzzTvHeader from "../components/BuzzTvHeader";
import { QrcodeStream } from "vue-qrcode-reader";
import { mapActions } from "vuex";

export default {
  components: { QrcodeStream, BuzzTvHeader },

  data() {
    return {
      result: "",
    };
  },

  methods: {
    ...mapActions(["saveToStorage"]),
    onDecode(result) {
      this.saveToStorage(["qr_scanned", result])
      this.result = result;
      this.gotoSensorAdd();
    },
    gotoSensorAdd(){
      this.$router.push("sensor_add_page");
    },
    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        alert(error);
        this.gotoSensorAdd();
      }
    }
  }
};
</script>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
</style>
