<template>
  <div>
    <BuzzTvHeader :enableBackButton="true" v-bind:backButtonCallback="backButtonClick" title="Select sensor" />
    <form class="form-buzz">
      <p class="location-label-buzz">
        <font-awesome-icon class="imguser" icon="map-marker-alt" size="sm" />
        {{ this.roomName(this.selected_room) }}
      </p>

      <DynamicSelector
        :filter_fields="filter_fields"
        :enable_reset="false"
        @item_selected="selectedSensor"
        :display_fields="['type', 'desc']"
      />
    </form>
  </div>
</template>

<script>
import BuzzTvHeader from "../components/BuzzTvHeader";
import DynamicSelector from "../components/DynamicSelector";
import { roomName } from "../entry_manipulation";
import { mapGetters, mapActions } from "vuex";
import fetcher from "../modules/common/services/dataFetchService";

export default {
  name: "SensorAdd",
  components: { BuzzTvHeader, DynamicSelector },
  computed: mapGetters(["getFilteredItems", "getFromStorage"]),
  data() {
    return {
      selected_room: null,
      filter_fields: [
        {
          field_key: "type",
          field_display: "type",
          title: "Type"
        },
        {
          field_key: "desc",
          field_display: "desc",
          title: "Desc"
        }
      ]
    };
  },
  methods: {
    ...mapActions(["fetchData", "updateFieldFilter", "updateNotFieldFilter", "saveToStorage"]),
    roomName,
    backButtonClick() {
      this.$router.push("filter_page");
    },
    selectedSensor(selected) {
      this.saveToStorage(["selected_sensor", selected]);
      this.$router.push("sensor_add_page");
    }
  },
  async created() {
    this.selected_room = this.getFromStorage("selected_room");

    const sensors = await fetcher.getSensorsForRoom(this.selected_room.room_id);

    this.saveToStorage(["selected_sensor", null]);
    this.fetchData(sensors);
    this.updateNotFieldFilter(["type", "tablet"]);
    this.updateNotFieldFilter(["type", null]);
    //this.updateFieldFilter(["device_code", null]);
  }
};
</script>
