<template>
  <div>
    <BuzzTvHeader :enableBackButton="true" v-bind:backButtonCallback="backButtonClick" title="Assign sensor" />
    <form class="form-buzz">
      <div style="padding-top: 70px">
        <p class="location-label-buzz">
          <font-awesome-icon class="imguser" icon="map-marker-alt" size="sm" />
          {{ this.roomName(this.selected_room) }}
        </p>
        <p class="location-label-buzz">
          <font-awesome-icon icon="keyboard" size="sm" />
          <b> {{ this.selected_sensor.type + "/" + this.selected_sensor.desc }}</b>
        </p>

        <div class="form-group" :class="{ 'form-group--error': $v.device_mac.$invalid }">
          <label class="form__label sensor-label-buzz">Device code:</label>
          <input class="form__input input-buzz" v-model="device_mac" type="text" />
        </div>
        <div class="error" v-if="!$v.device_mac.required">Field is required</div>
        <div class="error" v-if="!$v.device_mac.macAddress">Must input MAC address.</div>
        <div class="buttons_container">
          <button type="button" class="button-buzz fetch-button-buzz" @click="gotoQR">
            <font-awesome-icon icon="qrcode" size="lg" />
          </button>
          <button type="button" class="button-buzz fetch-button-buzz" style="margin-left: 10px;">
            <font-awesome-icon icon="paperclip" size="lg" />
          </button>
          <button
            type="button"
            class="assign-button-buzz button-buzz btn"
            v-bind:class="{ 'assign-confirm-button-buzz': warning_mode }"
            style="margin-left:50px"
            :disabled="$v.$invalid"
            @click="handleAssignClick"
            v-bind:text="{ 'Assign Device': !warning_mode, 'Confirm Assign': warning_mode }"
          >
            Assign Device
          </button>
        </div>
        <div style="margin-top: 15px">
          <label style="color: red" v-if="warning_mode">Before assign check the device information</label>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import BuzzTvHeader from "../components/BuzzTvHeader";
import { roomName } from "../entry_manipulation";
import { mapGetters, mapActions } from "vuex";
import { required, macAddress } from "vuelidate/lib/validators";
import fetcher from "../modules/common/services/dataFetchService";

export default {
  name: "SensorAdd",
  components: { BuzzTvHeader },
  computed: mapGetters(["getFilteredItems", "getFromStorage"]),
  data() {
    return {
      selected_room: null,
      selected_sensor: null,
      warning_mode: false,
      device_mac: null,
      filter_fields: [
        {
          field_key: "type",
          field_display: "type",
          title: "Type"
        },
        {
          field_key: "desc",
          field_display: "desc",
          title: "Desc"
        }
      ]
    };
  },
  methods: {
    ...mapActions(["fetchData", "updateFieldFilter", "saveToStorage"]),
    roomName,
    backButtonClick() {
      if (this.warning_mode) {
        this.warning_mode = false;
        this.device_mac = null;
      } else this.$router.push("select_sensor");
    },
    handleAssignClick() {
      if (this.$v.$invalid) {
        return;
      } else if (!this.warning_mode) {
        this.warning_mode = true;
      } else {
        this.selected_sensor.sensor_code = this.device_mac.toUpperCase();
        this.selected_sensor.device_code = this.device_mac.toUpperCase();

        fetcher.updateSensor(this.selected_sensor);
        this.saveToStorage(["selected_sensor", this.selected_sensor]);
        this.$router.push("assign_success");
      }
    },
    gotoQR() {
      this.$router.push("qr_scanner");
    }
  },
  created() {
    this.selected_room = this.getFromStorage("selected_room");
    this.selected_sensor = this.getFromStorage("selected_sensor");
    const qr_result = this.getFromStorage("qr_scanned");
    if (qr_result != undefined) {
      this.device_mac = qr_result;
      this.saveToStorage("qr_scanned", undefined);
    }
    this.updateFieldFilter(["room_id", this.selected_room["id"]]);
  },
  validations: {
    device_mac: {
      required,
      macAddress: macAddress()
    }
  }
};
</script>

<style lang="scss" scoped>
.buttons_container {
  display: flex;
  margin-top: 70px;
}
.assign-button-buzz[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.assign-confirm-button-buzz {
  background-color: red;
}

</style>
