<template>
  <div class="head">
    <nav class="nav-buzz" style="display:flex">
      <img
        class="back"
        src="../assets/back_icon.svg"
        alt="Logo"
        v-if="backButtonCallback != undefined"
        v-on:click="backButtonCallback"
      />
      <h3 class="label-header-buzz">
        {{ title }}
      </h3>
      <button type="button" class="logout-button-buzz" v-if="enableLogout" @click="tryLogout()">
        <font-awesome-icon icon="sign-out-alt" size="lg" />
      </button>
    </nav>
    <div class="logo">
      <img class="imglogo" src="../assets/Logo.svg" alt="Logo" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "BuzzTvHeader",
  props: {
    enableLogout: {
      type: Boolean,
      default: true
    },
    backButtonCallback: Function,
    title: String
  },
  methods: {
    ...mapActions(["logout"]),
    tryLogout() {
      this.logout();
      this.$router.push("/login")
    }
  },
  created() {}
};
</script>

<style scoped>
.head {
  margin: auto;
  opacity: 1;
}

.nav-buzz {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 12vh;
  margin-bottom: 15px;
  background: #e8e8ef 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo {
  width: 119px;
  height: 54px;
  margin-right: auto;
  margin-left: auto;
}
.imglogo {
  margin: auto;
}

.back {
  padding: 20px 10px;
  opacity: 1;
  height: 50%;
}

.logout-button-buzz {
  background-color: #FD1A16;
  color: white;
  font-size: 20px;
  border: 2px solid #FD1A16;
  align-content: flex-end;
  padding-left: 15px;
}
</style>
