<template>
  <div>
    <div class="selection-div-buzz">
      <select
        class="select-buzz "
        v-bind:class="{ 'select-buzz-reset-on': enable_reset, 'select-buzz-reset-off': !enable_reset }"
        v-model="selected_option"
        v-if="this.field_index < this.filter_fields.length - 1"
        @change="applyFilter"
      >
        <option value selected disabled hidden>Select {{ currentField().title }}</option>
        <option v-for="item in getFilterOptions()" :key="item.id" :value="item.id">{{ item.display }}</option>
      </select>
      <div v-if="enable_reset">
        <button type="button" class="button-buzz reset-button-buzz" @click="reset">
          Reset
        </button>
      </div>
    </div>
    <div id="content" style="height: 270px; margin-top:10px;">
      <p class="p-buzz">Options:</p>
      <ul class="ul-buzz">
        <li
          class="li-buzz"
          v-for="item in getFilteredItems"
          :key="item.id"
          :id="item.id"
          @click="$emit('item_selected', item)"
        >
          <span class="span-buzz">
            {{ getDisplayString(item) }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "DynamicSelector",
  props: { filter_fields: Array, enable_reset: Boolean, display_fields: Array },
  computed: mapGetters(["getFilteredItems"]),
  data() {
    return {
      selected_option: "",
      field_index: 0
    };
  },
  methods: {
    ...mapActions(["resetSelections", "updateFieldFilter"]),
    reset() {
      this.resetSelections();
      this.field_index = 0;
      this.selected_option = "";
    },
    currentField() {
      return this.filter_fields[this.field_index];
    },
    getFilterOptions() {
      let options = new Array();

      for (let index in this.getFilteredItems) {
        let item = this.getFilteredItems[index];
        options.push({
          id: item[this.currentField().field_key],
          display: item[this.currentField().field_display]
        });
      }

      const filteredArr = options.reduce((acc, current) => {
        const x = acc.find(item => item.id === current.id);
        return x ? acc : acc.concat([current]);
      }, []);

      return filteredArr;
    },
    applyFilter() {
      if (this.selected_option != "") {
        this.updateFieldFilter([this.currentField().field_key, this.selected_option]);
        this.selected_option = "";
        this.gotoNextFilter();
      }
    },
    gotoNextFilter() {
      if (this.field_index == this.filter_fields.length - 1) {
        return;
      }
      this.field_index += 1;
      this.filterIsNeeded();
    },
    filterIsNeeded() {
      if (this.getFilterOptions().length <= 1) this.gotoNextFilter();
    },
    getDisplayString(item) {
      let ret = "";

      for (const i in this.display_fields) {
        const field = this.display_fields[i];
        if (item[field]) {
          ret += item[field] + "/";
        }
      }

      return ret.substring(0, ret.length - 1);
    }
  },
  created() {
    this.filterIsNeeded();
    this.reset();
  }
};
</script>

<style scoped>
.selection-div-buzz {
  display: flex;
  padding-top: 10px;
}

.select-buzz {
  height: 40px;
  font-family: "Assistant", sans-serif;
  outline: 0;
  padding: 10px 15px;

  border: 1px solid #a5a4bf;
  border-radius: 4px;
  opacity: 1;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ffffff;
  -webkit-appearance: none;
  background-position: 95%;
}

.select-buzz-reset-on {
  width: 220px;
  margin-right: 10px;
}

.select-buzz-reset-off {
  width: 80%;
  margin: 10px 10% 15px;
}

.reset-button-buzz {
  position: static;
  width: 70px;
  height: 40px;
  padding-top:10px;
}

.ul-buzz {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  height: 100%;
  vertical-align: bottom;
}
.li-buzz {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #389ceb;
  padding: 9px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 12px;
  box-sizing: border-box;
  text-align: left;
  font: Regular 14px/18px Assistant;
  letter-spacing: -0.16px;
  border: 1px solid #a5a4bf;
  border-radius: 4px;
  opacity: 1;
}
</style>
