<template>
  <div id="app">
    <div id="sizing">
    <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style language="scss">
@import url(https://fonts.googleapis.com/css?family=Assistant);

#app {
  position:fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  --web-view-name: App_Start;
  --web-view-id: App_Start;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-center-vertically: true;
  --web-enable-deep-linking: true;
}

#sizing{
  min-width: 320px;
  min-height: 520px;
  max-width: 768px;
  max-height: 1024px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(252, 252, 252, 1);

}

.page {
  margin: auto;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  opacity: 1;
}
.text-buzz {
  float: right;
  font: Regular 24px/30px Assistant;
  letter-spacing: -0.27px;
  color: #a5a4bf;
  text-transform: uppercase;
  opacity: 1;
}

img.imguser {
  padding-right: 10px;
  height: 15px;
}
img.imgpass {
  padding-right: 10px;
  height: 15px;
}
.label-header-buzz {
  float: right;
  font: Regular 24px/30px Assistant;
  letter-spacing: -0.27px;
  color: #a5a4bf;
  text-transform: uppercase;
  opacity: 1;
  margin: auto;

  margin-right: 60px;
}

.form-buzz {
  width: 300px;
  height: 46px;
  position: relative;
  z-index: 1;
  margin: 0 auto 100px;
}
.input-buzz {
  font-family: "Assistant", sans-serif;
  outline: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  top: 292px;
  left: 30px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #a5a4bf;
  border-radius: 4px;
  opacity: 1;
}

.input-buzz[readonly] {
  border: 1px solid #999999;
  background-color: #eeeeee;
  color: #292727;
}

.button-buzz {
  width: 150px;
  height: 46px;
  font-family: "Assistant", sans-serif;
  text-transform: uppercase;
  outline: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background: #389ceb 0% 0% no-repeat padding-box;
  border: 1px solid #389ceb;
  border-radius: 4px;
  opacity: 1;
  float: right;
}

.fetch-button-buzz {
  width: 46px;
  height: 46px;
  float: left;
  padding: 0px;
  margin-right: 0px;
  font-size: 1.7em;
}

.location-label-buzz {
  color: #a5a4bf;
}

.sensor-label-buzz {
  text-align: left;
  font: Bold 16px/10px Assistant;
  letter-spacing: -0.18px;
  color: #389ceb;
  text-transform: uppercase;
  opacity: 1;
}

body {
  background: #f2f2f2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
  background: linear-gradient(to left, #f2f2f2, #f2f2f2);
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

.form-group--error input,
.form-group--error textarea,
.form-group--error input:focus,
.form-group--error input:hover {
  border-color: #f79483;
}

.form-group--error .form__label,
.form-group--error .form__label--inline {
  color: #f04124;
}

.form-group--error + .form-group__message,
.form-group--error + .error {
  display: block;
  color: #f57f6c;
}
.form-group--error {
  animation: shake 0.5s;
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
